.home {
  width: 100vw;
  height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;

  flex-direction: column;

  font-size: 20px;
  background-image: url("./background3.svg");
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
}

body {
  margin: 0;
}

.box {
  width: 85%;
  height: 40%;
  background-color: #fff500;
  border-radius: 20px;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.creat-acc {
  width: 100%;
  height: 15%;
  font-size: 30px;
  color: darkslateblue;
  display: flex;
  align-items: center;
  justify-content: center;
}

.user {
  width: 90%;
  height: 12%;
  color: white;
  background-color: aliceblue;
  margin-top: 30px;
  margin-bottom: 30px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pass-box {
  width: 100%;
  height: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.pass {
  width: 90%;
  height: 40%;
  background-color: yellow;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid;
}

.creat {
  margin-top: 20px;
  width: 30%;
  height: 10%;
  background-color: #0ce77e;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

input {
  margin-top: 0;
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  border-radius: 20px;
  text-align: center;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

img {
  position: absolute;
}
