.home{
    width: 100vw;
    height: 100vh;

    background-color: blueviolet;

    display: flex;

    flex-direction: column;

    align-items: center;
    justify-content: center;
    
    background-image: url("./background3.svg");
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover;
}
body{
    margin:0;
}

.box{
    width: 95%;
    height: 90%;

    background-color: darkblue;

    display: flex;
    flex-direction: column;
    align-items: center;
}
.head{
    width: 100%;
    height: 5%;

    display: flex;

    flex-direction: row;

    align-items: center;
    justify-content: space-between;

    font-size: 30px;

    margin-bottom: 10px;
}
.photo{
    width: 50px;
    height: 50px;

    border-radius: 100%;

    background-color: grey;

    display: flex;
    align-items: center;
    justify-content: center;
}
.return-buton{

    width : 70px;
    height: 50px;

    border-radius: 15px;

    background-color: darkcyan;

    display: flex;
    align-items: center;
    justify-content: center;
}

.name-box{
    width : 90%;
    height: 8%;

    

    margin-top: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.number-imp{
    width: 55px;
    height: 55px;

    border-radius: 100%;

    background-color: darkgray;

    display: flex;
    align-items: center;
    justify-content: center;
}
.username{
    width : 250px;
    height: 70%;

    
    display: flex;

    font-size: 30px;

    color: white;


}
