.home {
  width: 100vw;
  height: 100vh;

  display: flex;

  flex-direction: column;

  align-items: center;
  justify-content: center;
  background-image: url("./background3.svg");
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
}

body {
  margin: 0;
}

.box {
  width: 80%;
  height: 30%;

  background-color: #fff500;



  border-radius: 15px;
}


.half {
  width: 100%;
  height: 50%;

  display: flex;

  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.half2 {
  width: 100%;
  height: 50%;

  display: flex;

  align-items: center;
  justify-content: center;
}
button {
  width: 80%;
  height: 30%;

  border-radius: 30px;

  border: none;

  background-color: white;

  color: grey;

  font-size: 20px;
}
.box2 {
  width: 60%;
  height: 70%;

  display: flex;

  flex-direction: row;
}

#fb {
  width: 50%;
  height: 100%;

  background-color: #1877f2;

  border-bottom-left-radius: 20px;
  border-top-left-radius: 20px;

  display: flex;

  justify-content: center;
  align-items: center;
}

#ggl {
  width: 50%;
  height: 100%;

  background-color: #f5f5f5;

  border-bottom-right-radius: 20px;
  border-top-right-radius: 20px;

  display: flex;

  justify-content: center;
  align-items: center;
}

