.home {
  width: 100vw;
  height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-image: url("./background3.svg");
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
}

body {
  margin: 0;
}

.head {
  width: 100%;
  height: 15%;
  background-color: #6B9EFF;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom-right-radius:15px ;
  border-bottom-left-radius: 15px;
  margin-bottom: 30px;
}

.grade {
  float: left;
}

.starting-at {
  float: right;
  padding-right: 50px;
}

#bodie {
  width: 80%;
  height: 85%;
  overflow-y: scroll;
}

#game {
  margin-top: 36px;
  margin-bottom: 36px;
  padding: 12px 0 12px 12px;
  width: 100%;
  height: 8%;

}

@media screen and (max-width: 400px) {
  .grade {
    float: none !important;
  }

  .starting-at {
    float: none !important;
    margin: 0 0 12px 0 !important;
  }
}

@media screen and (max-height: 1000px) {
  #game {
    height: 18% !important;
  }
}

.photo {
  width: 80px;
  height: 80px;
  background-color: rebeccapurple;
  border-radius: 100%;
  margin-left: 5px;
}

.switch-all {
  width: 70px;
  height: 55px;
  background-color: royalblue;
  border-radius: 15%;
  margin-right: 15px;
  position: relative;
  overflow: hidden;
}

.switch {
  height: 100%;
  width: 60%;
  background-color: #D7397E;
  border-radius: 15%;
  transition: 1s;
  position: absolute;
  left: 0;
  top: 0;
}

.circle {
  left: 0px;
  position: absolute;
  width: 100px;
  height: 100px;
  background-color: saddlebrown;
  border-radius: 50%;
  background: linear-gradient(180deg, #00c2ed 0%, rgba(255, 255, 255, 0) 100%),
    linear-gradient(180deg, #00ff75 0%, rgba(255, 255, 255, 0) 100%), #17c2f8;
}
.topic-container {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 120px;
}

.rectangle {
  width: 98%;
  height: 50px;
  background: #faff00;
  border-radius: 10px;
}
.name{
  width : 50%;
  height : 70%;



  display:flex;
  flex-direction: column;

}
.username{
width : 100%;
height: 60%;



font-size: 30px;

display: flex;
align-items: flex-end;
}
.grade{

  width: 100%;
  height: 40%;
  display: flex;
  align-items: flex-start;
  font-size: 20px;

}
img{
  position:absolute;
}
.game{
  width: 90%;
  height: 12%;
  border-radius: 20px;
  background-color: #3063E9 ;
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-style: "Reem Kufi";

}

.grade-box{
  width: 38%;
  height: 60%;
  border-radius: 15px;
  background-color: #34ACBC;
  margin-left: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 23px;
}
.time-box{
  width: 30%;
  height: 90%;
  border-radius: 15px;
  background-color: #34BC39;
  margin-right: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  
}
.time-box-red{
  width: 30%;
  height: 90%;
  border-radius: 15px;
  background-color: #EE1919;
  margin-right: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
}