.home {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 30px;
  position: absolute;
}

body {
  margin: 0;
}

#question {
  width: 90%;
  height: 20%;
  background-color: darkslategray;
  border-radius: 10px;
  margin-top: 50px;
}

#answers-box {
  width: 90%;
  height: 45%;
  margin-top: 120px;
  margin-bottom: 120px;

}
.ans-half {
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: row;
}
.answers1 {
  width: 50%;
  height: 100%;
  background-color: blue;
  border-top-left-radius: 15px;
}

.answers2 {
  width: 50%;
  height: 100%;
  background-color: red;
  border-top-right-radius: 15px;
}

.answers3 {
  width: 50%;
  height: 100%;
  background-color: yellow;
  border-bottom-left-radius: 15px;
}

.answers4 {
  width: 50%;
  height: 100%;
  background-color: green;
  border-bottom-right-radius: 15px;
}

.head {
  width: 100%;
  height: 5%;
  margin-bottom: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
  margin-top: 20px;
}

#num {
  width: 60px;
  height: 60px;
  margin-left: 20px;
}

.back-button {
  width: 60px;
  height: 50px;
  background-color: teal;
  border-radius: 15px;
  margin-right: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
img{
  position:absolute;
}