.home{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("./background3.svg");
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover;
}
body{
    margin: 0;
}
.box{
    width: 100%;
    height: 70%;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: 25px;

}

h1{
    margin: 0;
 
    margin-top: 20px;
    
    
    color: #9B6BFF;
    text-shadow:
    3px 3px 0 #6B9EFF,
    1px 1px 0 #6B9EFF,
    1px 1px 0 #6B9EFF,
    1px 1px 0 #6B9EFF,
    1px 1px 0 #6B9EFF;
    
    
}
input{
    margin-top: 30px;
    width: 60%;
    height: 6%;
    border : none;
    border-radius: 15px;
    text-align: center;
    font-size: 20px;
    outline: none;

}
.go{
    width: 25%;
    height: 10%;
    border-radius: 20px;
    background-color: #01FFA3;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}